@import "../../styles/utils";

nav {
  color: #ffffff;
  position: absolute;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  .nav-login {
    font-size: 1.2rem;
    width: 100px;
  }
  z-index: 999;
}
