@import "../../styles/utils";

.title {
  color: #ffffff;
  font-family: $DancingScript;
  font-size: 5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}