@import "../../styles/utils";

.myPicture-upload {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .image-upload {
    display: flex;
    justify-content: center;
    input {
      display: none;
    }

    label {
      display: flex;
      padding-top: 15px;
      justify-content: center;
      width: 300px;
      height: 50px;
      font-size: 1.8rem;
      border: none;
      border-radius: 25px;
      background-color: #ff8787;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #ff9f9f;
      }
    }
  }

  .image-upload-active {
    margin-top: 20px;
    width: 90%;
    //height: 200px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
      font-size: 1.7rem;
      color: white;
      background-color: #748ffc;
      margin-bottom: 20px;
      width: 200px;
      height: 50px;
      border: none;
      border-radius: 10px;
    }
  }

  .image-upload-inactive {
    display: none;
  }
}