@import "../../styles/utils";

#profile-nav-menu {
  width: 200px;
  background-color: white;
  color: black;
  position: absolute;
  top: 100px;
  right: 50px;
  border-radius: 1px;
  box-shadow: 0 3px 3px 3px rgba(0,0,0,0.1);
  padding: 0;

  div {
    padding: 10px;

    &.profile-menu-info {
      border-bottom: solid 1px rgba(0, 0, 0, .15);
    }

    p {
      text-align: center;

      &.name {
        font-size: 2rem;
      }

      &.email {
        font-size: 1.5rem;
        color: dimgray;
      }
    }
    ul {
      list-style: none;
      li {
        font-size: 1.5rem;
        padding: 6px;
        a {
          text-decoration: none;

          &:visited {
            color: #000;
          }

          &:hover {
            color: #ff8787;
          }
        }
      }
    }
  }
}

.active {
  display: block;
}

.inactive {
  display: none;
}