@import "../../styles/utils";

.registerForm {
  background-color: white;
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 80%;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    .registerFormTitle {
      font-size: 3rem;
      display: flex;
      margin: 30px;
    }

    .registerInput {
      width: 80%;
      height:90px;
      display: flex;
      flex-direction: column;

      label {
        color: #495057;
        font-size: 1.5rem;
        padding: 0 0 5px 0;
      }

      input {
        font-size: 1.5rem;
        padding: 10px;
        border: 1px solid #adb5bd;
        border-radius: 5px;
        background-color: inherit;
      }

      input::placeholder {
        color: #adb5bd;
      }

      input[type='submit'] {
        margin-top: 30px;
        background-color: #ff8787;
        border: none;
        color: white;
      }
    }
  }
}


