@import "../../styles/utils";

body{
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

.mainTemplate {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.snapScroll {
  scroll-snap-align: start;
}