@import "../../styles/utils";

.myPictureTemplate {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;

  .myPicture-header {
    margin-top: 30px;
    h1 {
      text-align: center;
      font-family: $DancingScript;
      font-size: 6rem;
    }
  }

  .myPicture-content {
    flex: 1;
    display: inline-block;
    padding-top: 30px;
    float: left;
  }
}