@import "../../styles/utils";

.myPictureTemplate {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;

  .myPicture-header {
    margin-top: 30px;
    h1 {
      text-align: center;
      font-family: $DancingScript;
      font-size: 6rem;
    }
  }

  .myPicture-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    button {
      width: 300px;
      height: 50px;
      font-size: 1.8rem;
      border: none;
      border-radius: 25px;
      background-color: #ff8787;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #ff9f9f;
      }
    }
  }

  .myPicture-content {
    flex: 1;
    display: inline-block;
    padding-top: 30px;
    float: left;
  }
}